%header
  %nav
    %ul.hmenu
      %li= link_to "WELCOME", root_path
      %li= link_to "WHAT WE OFFER", offer_path
      %li= link_to "PRICING", pricing_path
      %li= link_to "CONTACT US", contact_path
      %li= link_to "GALLERY", '#'
