!!!
%html
  %head
    %title= title
    = render "/layouts/stylesheets"
    = csrf_meta_tags

  %body{id: body_css(params[:controller])}
    .container
      /banner image
      .span-20
        = render  "/layouts/header"

      .span-20
        %hr
        %br

      .span-20.last
        %section
          - flash.each do |name, msg|
            = content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String)
          = yield

      .span-20.last
        =render "/layouts/footer" 	    
