!!!
%html
  %head
    %title= title
    = render "/layouts/stylesheets"
    = csrf_meta_tags

  %body{id: body_css(params[:controller])}
    .container
      .span-17
        = render  "/layouts/header"

      .span-17

        %br

      .span-17.last
        %section
          = yield
          %br
          /= @links

      .span-17.last
        =render "/layouts/footer" 	    
